{% extends 'base.html.twig' %}

{% block title %}Парсер!{% endblock %}

{% block body %}
    <center>
        <br>
        <a href="{{ path('load') }}"><button class="btn btn-primary">Парсинг</button></a>
    </center>



{% endblock %}
